<div class="title">
  <h1>Simple Chat Application</h1>
</div>

<div class="container">

  <!-- Enter username form -->
  <ng-container *ngIf="!username">
      <form (submit)="handleUsername($event)" class="enter-username-form">
        <input #username type="text" placeholder="Enter your username" autofocus>
        <button type="submit" class="btn">
          <i class="fa fa-paper-plane"></i>
        </button>
    </form>
  </ng-container>

  <!-- Chatbox -->
  <ng-container *ngIf="username">
    <div class="chat-container">
      <div class="chat-box">
        <div class="message-container" *ngFor="let message of messages">
          <div class="message-date">{{message.date | date:'short'}}</div>
          <div><span style="font-weight: 600;">{{message.username}}</span>: {{message.message}}</div>
        </div>
      </div>
      <form (submit)="handleMessage($event)" class="send-message-form">
        <input #message type="text" placeholder="Type a message...">
        <button type="submit" class="btn">
          <i class="fa fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </ng-container>
</div>